.dish_container{
    position:fixed;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    top: 16%;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 4;
    min-width: 80%;
    min-height: 80%;
    border: 3px solid hsl(0, 0%, 0%);
    border-radius: 20px;
}

.cof_row{
    margin: 2%;
    min-height: 100%;
    min-width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.cof_title{
    display: inline;
    margin-top: 1%;
    margin-left: 25%;
    position: absolute;
    z-index: 5;
}

.column{
    margin: 2%;
    min-height: 100%;
    min-width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.dish{
    background-color: #F3FBF8;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 1%;
    margin: 3%;
    min-width: 50%;
    min-height: 10%;
    max-height: 10%;
    border: 3px solid hsl(0, 0%, 0%);
    border-radius: 20px;
}

.dish:hover{
    margin: 1%;
}

.circle {
    margin-left: 0.5em;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 20em;
    width: 20em;
    opacity: 0;
  }

  .circle_pict {
    margin-left: 0.5em;
    position: absolute;
    background-image: url();
    border-radius: 50%;
    height: 20em;
    width: 20em;
  }

.triangle-topright {
    background-image: url();
    margin-bottom: 14em;
    margin-left: 14em;
    position: absolute;
	width: 0;
	height: 0;
	border-top: 14em solid #F3FBF8; 
	border-left: 14em solid transparent;
}

.triangle-topleft {
    background-image: url();
    margin-bottom: 14em;
    margin-right: 14em;
    position: absolute;
	width: 0;
	height: 0;
	border-top: 14em  solid #F3FBF8; 
	border-right: 14em  solid transparent;			
}

.triangle-bottomleft {
    background-image: url();
    margin-top: 14em;
    margin-right: 14em;
    position: absolute;
	width: 0;
	height: 0;
	border-bottom: 14em  solid #F3FBF8; 
	border-right: 14em  solid transparent;	
}

.triangle-bottomright {
    background-image: url();
    margin-top: 14em;
    margin-left: 14em;
    position: absolute;
	width: 0;
	height: 0;
	border-bottom: 14em  solid #F3FBF8; 
	border-left: 14em  solid transparent;
}

.half-circle {
    background-image: url();
    z-index: 9;
    position: absolute;
    right: 16%;
    width: 12em;  
    height: 24em;
    border: 5px solid  #F3FBF8;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}