*, *:after, *:before {
    padding: 0;
    margin: 0;
 }

 .title{
    font-family: Andale Mono, monospace;
    font-size: 40px;
    z-index: 3;
   }

   .subtitle span {
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: -10px 0 0 rgba(255, 255, 255, 0.3), 10px 0 0 rgba(255, 255, 255, 0.3);
}
  
   .subtitle{
    font-family: Andale Mono, monospace;
    font-size: 22px;
    z-index: 3;
   }

a.text {
    display: inline;
    font-family: FreeMono, monospace;
    font-weight: 900;
    font-size: 17px;
    margin: 10%;
    text-decoration: none;
    color: #222222;
    text-align: center;
  }

   @font-face {
    font-family: 'Margariney-Words-Regular';
    src:url('../fonts/webfonts_Margariney-Words-Regular/Margariney-Words-Regular.ttf.woff') format('woff'),
        url('../fonts/webfonts_Margariney-Words-Regular/Margariney-Words-Regular.ttf.svg#Margariney-Words-Regular') format('svg'),
        url('../fonts/webfonts_Margariney-Words-Regular/Margariney-Words-Regular.ttf.eot'),
        url('../fonts/webfonts_Margariney-Words-Regular/Margariney-Words-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}